.container{
  height: calc(100vh - 60px);
  /* background: url("https://res.cloudinary.com/dq8qhdgox/image/upload/v1654583159/common/pexels-steve-johnson-1269968_jqwgfj.jpg") no-repeat center center fixed; */
  background: url("/public/123.jpg") no-repeat center center fixed;
  background-size: 120% auto;
  position: relative;
  z-index: 0;
  overflow: scroll;
}
.overlay{
  width: 100%;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:calc(100vh - 60px); 
}
.wrapper{
  margin: 50px;
  padding: 20px 50px;
  height: fit-content;
  background: rgba(255,255,255, .6);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.aboutWrapper{
  display: flex;
  flex-direction: column;
}
.aboutTitle{
  color: #111;
  text-align: center;
  margin-bottom: 10px;
}
.aboutSubTitle{
  color: #333;
  text-align: center;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
}
.aboutSubTitle:nth-child(3){
  color:teal;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 500;
}

.aboutCtx{
  color: #333;
  line-height: 50px;
}

.aboutCtx::first-letter{
  margin-left: 20px; 
}
.aboutCtxCh{
  margin-top: 150px;
  margin-bottom: 50px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.aboutCtxEn{
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.aboutCtx:last-child::first-letter{
  margin-left: 0px; 
}
.signed{
  color:#000;
}

.firstLine{
  margin-top: 40px;
}

.firstLine::first-letter{
  font-size: 30px;
  font-weight: 600;
}

.aboutLink{
  color: teal;
  font-weight: 500;
  text-decoration: none;
}

.aboutLink:hover{
  color: rgb(218, 170, 13);
}


@media screen and (max-width: 375px) {
  .wrapper{
    flex-direction: column;
    padding: 15px;
  }
  
  .container{
    background-size: 300% auto;
  }
  .aboutCtx{
    line-height: 30px;
  }
  
  .firstLine::first-letter{
    font-size: 20px;
    font-weight: 600;
  }

  .aboutSubTitle:nth-child(3){
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 540px) {
  .wrapper{
      flex-direction: column;
      padding: 15px;
      margin: 20px;
  }
  .container{
    background-size: 400% auto;
    height: calc(100vh - 120px);
  }
  .overlay{
    height: calc(100vh - 120px);
  }
  .firstLine{
    margin-top: 20px;
  }
  .aboutCtx{
    line-height: 25px;
  }
  .aboutCtxCh{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .aboutCtxEn{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .firstLine::first-letter{
    font-size: 20px;
    font-weight: 600;
  }
  .aboutSubTitle:nth-child(3){
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper{
    width: 1280px;
  }
}